@font-face {
  font-family: '[set]Foundicons';
  src: url('fonts/[set]_foundicons.eot');
  src: url('fonts/[set]_foundicons.eot?#iefix') format('embedded-opentype'),
       url('fonts/[set]_foundicons.woff') format('woff'),
       url('fonts/[set]_foundicons.ttf') format('truetype'),
       url('fonts/[set]_foundicons.svg#[set]Foundicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
[class*="foundicon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}
 
[class*="foundicon-"]:before {
  font-family: "[set]Foundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}
.logo {
  width: 40px;
  margin-left: 5px; }

@media only screen and (min-width: 40.063em) {
  .top-bar {
    height: 6rem;
    padding-top: 3rem;
    position: relative; }

  .social-icons {
    position: absolute;
    right: 0;
    top: -45px; }

  .logo {
    width: 70px;
    margin-top: -2.3rem; } }
@media only screen and (min-width: 40.063em) {
  .social-icons {
    top: -35px; } }


h4{
    font-family: 'News Cycle', sans-serif;
    font-size: 2em;
    }

p{
    font-family: 'Gentium Basic', serif;
}
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
.snip1572 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 8px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #000000;
  text-align: left;
  font-size: 16px;
  background: #ffffff;
}

.snip1572 *,
.snip1572:before,
.snip1572:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.snip1572 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}

.snip1572:before,
.snip1572:after {
  content: '';
  background-color: #000;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.snip1572:before {
  width: 300px;
  height: 2px;
}

.snip1572:after {
  height: 300px;
  width: 2px;
}

.snip1572 figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
}

.snip1572 h3 {
  font-weight: 400;
  padding: 8px 15px;
  margin: 0;
  opacity: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.snip1572 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1572:hover img,
.snip1572.hover img {
  zoom: 1;
  filter: alpha(opacity=25);
  -webkit-opacity: 0.25;
  opacity: 0.25;
}

.snip1572:hover:before,
.snip1572.hover:before,
.snip1572:hover:after,
.snip1572.hover:after {
  opacity: 1;
}

.snip1572:hover:before,
.snip1572.hover:before {
  width: 50px;
}

.snip1572:hover:after,
.snip1572.hover:after {
  height: 50px;
}

.snip1572:hover h3,
.snip1572.hover h3 {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
}
figure.snip1327 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #333;
  text-align: left;
  background-color: #fafafa;
}
figure.snip1327 blockquote {
  font-family: 'Lora', Arial, sans-serif;
  margin: 0;
  padding: 40px 40px 0 90px;
  font-weight: 500;
  line-height: 1.6em;
  font-style: italic;
}
figure.snip1327 .author {
  margin: 20px 0 30px 90px;
  padding: 3px 0 0 50px;
  width: 100%;
  position: relative;
}
figure.snip1327 .author img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  left: 0;
  top: 0;
  display: inline-block;
  position: absolute;
}
figure.snip1327 .author h5,
figure.snip1327 .author span {
  opacity: 0.8;
  margin: 0;
  line-height: 1em;
}
figure.snip1327 .author h5 {
  text-transform: uppercase;
  font-weight: 800;
}
figure.snip1327 .author span {
  font-size: 0.8em;
}
figure.snip1327:before {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 150px;
  line-height: 1em;
  color: #212121;
  font-style: normal;
  top: -30px;
  left: 10px;
}
.circle {
  border-radius: 50%;
  width: 50%
}
.features {
  text-align: center; }
  .features hr {
    width: 25%;
    margin: 1rem auto; }
  .features .round-icon {
    background-color: #E87E04;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: -61px auto 1rem;
    width: 100px;
    font-size: 3rem; }
    .features .round-icon span {
      color: #fff;
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
  @media only screen and (max-width: 40em) {
    .features .columns {
      margin-bottom: 5rem; } }
.hero {
  background: url("img/hero.jpg") no-repeat center center;
  background-size: cover;
  height: 80vh;
  margin-bottom: 3rem; }

.circle-bg, .quote-1, .quote-2 {
  margin-top: -2rem;
  text-align: center;
  opacity: 0.9;
  border-radius: 50%;
  height: 12rem;
  width: 12rem; }
  @media only screen and (min-width: 64.063em) {
    .circle-bg, .quote-1, .quote-2 {
      margin: 0 auto;
      margin-top: 2rem;
      height: 13rem;
      width: 13rem; } }
  .circle-bg p, .quote-1 p, .quote-2 p {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

.quote-1 {
  background: #333;
  color: #fff;
  z-index: 9999999;
  position: relative; }
  @media only screen and (min-width: 64.063em) {
    .quote-1 {
      margin-right: 10rem; } }

.quote-2 {
  background: #F2F1EF; }
  .quote-2 p {
    padding: 2rem; }

.benefits{
    margin-top: 50px;
  }
  hr{
    width: 70%;
    border: 1px solid #ccc;
  }
  h5{
    font-weight: 300;
  }
  p{
    color: #666;
    font-weight: 300;
  }
  .benefit{
    margin-top: 30px;
  }
  
  .icon{
    font-size: 40px;
    color: #ccc;
  }